.DS_Store
.metadata
*.jar

# eclipse
.classpath
.settings

# linux
*~

### ignore reinstallation
build/install/*
build/scripts/*

### 
.settings/org.eclipse.jdt.core.prefs
build/tmp/jar/MANIFEST.MF

## no build
build/reports/*
build/test-results/*

build/tmp/*
build/classes/test/*

build/classes/*

bin/ctu/*